[Unit]
Description=Gunicorn instance to serve {{ app_name }}
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory={{ app_dir }}
Environment="PATH={{ venv_dir }}/bin"
ExecStart={{ venv_dir }}/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 {{ app_entry }}:app

[Install]
WantedBy=multi-user.target
